/**
  radius
*/
/**
  button
*/
/**
toast
*/
/**
  panel
*/
/**
state
*/
.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
  color: #6a6c6f;
}
