/**
  radius
*/
/**
  button
*/
/**
toast
*/
/**
  panel
*/
/**
state
*/
.label {
  font-weight: normal;
  padding: 0.1em .6em 0.2em;
}
.label-violet {
  background-color: #9b59b6;
}
.label-violet[href]:hover,
.label-violet[href]:focus {
  background-color: #804399;
}
.label-orange {
  background-color: #e67e22;
}
.label-orange[href]:hover,
.label-orange[href]:focus {
  background-color: #bf6516;
}
