.idea/.name
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/ria_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/ria.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/