<meta title="文章列表" icon="fa fa-file-text"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="m-b-xs f-md">文章列表</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            刘惜君
                            <br>
                            <small class="text-muted">4天前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>恋风恋歌</h4></a>
                    <div>
                        <div class="img-wrapper">
                            <img src="images/001.jpg" class="img-responsive" />
                            <div class="title">
                                <h4>恋风恋歌</h4>
                                <small>刘惜君</small>
                            </div>
                        </div>
                        白风车想谁呢 <br />
                        六月的樱花悄声寂寞<br />
                        蒲公英它的旅程<br />
                        终点会在哪里降落呢<br />
                        听风说它走了<br />
                        宁夏的流星已划过<br />
                        静止了旋转木马<br />
                        终于哭着失去所有联络<br />
                        爱是毕加索风歌<br />
                        尼罗河的月落<br />
                        吉普赛的传说<br />
                        青春向右生活向左
                    </div>
                    <a href="#" class="btn btn-primary btn-xs">详情</a>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 8 评论
                </span>
                    <i class="fa fa-eye"> </i> 22 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            <small>齐秦</span></small>
                            <br>
                            <small class="text-muted">1个月前</small>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img class="img-responsive" src="images/001.jpg" alt="">

                    <div class="title">
                        <a href="#"><h4>青春纪念册</h4></a>
                        <small>可米小子</small>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                        去年夏天　数着贝壳和浪花的海边
                        我们祈祷着明年的今天　还能够保持这样无忧笑脸
                        你是夏天　有海风吹过棕榈的蓝天
                        让我忘记了眼泪有多咸
                        你一出现就是晴天
                        还想听你任性的说
                        要带我去环游世界　就算整个世界都改变
                        也不改变　为你勇敢的自己
                    </p>

                    <p>
                        给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                        有我陪伴　多苦都变成甜　睁开眼就看见永远
                        给我你的心作纪念　我的梦　有你的祝福才能够完全
                    </p>
                    <a href="#" class="btn btn-primary btn-xs">浏览</a>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 10 评论
                </span>
                    <i class="fa fa-eye"> </i> 62 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            刘惜君
                            <br>
                            <small class="text-muted">4天前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>恋风恋歌</h4></a>
                    <div>
                        <div class="img-wrapper">
                            <img src="images/001.jpg" class="img-responsive" />
                            <div class="title">
                                <h4>恋风恋歌</h4>
                                <small>刘惜君</small>
                            </div>
                        </div>
                        白风车想谁呢 <br />
                        六月的樱花悄声寂寞<br />
                        蒲公英它的旅程<br />
                        终点会在哪里降落呢<br />
                        听风说它走了<br />
                        宁夏的流星已划过<br />
                        静止了旋转木马<br />
                        终于哭着失去所有联络<br />
                        爱是毕加索风歌<br />
                        尼罗河的月落<br />
                        吉普赛的传说<br />
                        青春向右生活向左
                    </div>
                    <a href="#" class="btn btn-primary btn-xs">详情</a>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 8 评论
                </span>
                    <i class="fa fa-eye"> </i> 22 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            <small>齐秦</span></small>
                            <br>
                            <small class="text-muted">1个月前</small>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img class="img-responsive" src="images/001.jpg" alt="">

                    <div class="title">
                        <a href="#"><h4>青春纪念册</h4></a>
                        <small>可米小子</small>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                        去年夏天　数着贝壳和浪花的海边
                        我们祈祷着明年的今天　还能够保持这样无忧笑脸
                        你是夏天　有海风吹过棕榈的蓝天
                        让我忘记了眼泪有多咸
                        你一出现就是晴天
                        还想听你任性的说
                        要带我去环游世界　就算整个世界都改变
                        也不改变　为你勇敢的自己
                    </p>

                    <p>
                        给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                        有我陪伴　多苦都变成甜　睁开眼就看见永远
                        给我你的心作纪念　我的梦　有你的祝福才能够完全
                    </p>
                    <a href="#" class="btn btn-primary btn-xs">浏览</a>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 10 评论
                </span>
                    <i class="fa fa-eye"> </i> 62 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
            <div class="panel ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                        </a>

                        <div class="media-body">
                            呆瓜
                            <br>
                            <small class="text-muted">3小时前</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><h4>别让我的眼泪陪我过夜</h4></a>

                    <p>
                        你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，
                        长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                        没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，
                        不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对
                    </p>

                    <p>
                        爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁，
                        慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                    </p>
                </div>
                <div class="panel-footer">
                <span class="pull-right">
                    <i class="fa fa-评论-o"> </i> 22 评论
                </span>
                    <i class="fa fa-eye"> </i> 142 浏览
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <nav>
                <ul class="pager" style="width: 500px; margin: auto;">
                    <li class="previous"><a href="#">上一页</a></li>
                    <li class="next"><a href="#">下一页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>