<meta title="文件浏览器" icon="fa fa-file-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <i class="pull-left fa f-xl fa-file-o text-orange"></i>

            <div class="m-b-xs f-md">文件浏览器</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked p-b p-t">
                        <li class="active"><a href="#" class="text-ellipsis"><i class="fa fa-folder"></i> 文件</a></li>
                        <li><a href="#" class="text-ellipsis"><i class="fa fa-share-alt text-info"></i> 分享</a></li>
                        <li><a href="#" class="text-ellipsis"><i class="fa fa-clock-o text-success"></i> 最近</a></li>
                        <li><a href="#" class="text-ellipsis"><i class="fa fa-star text-warning"></i> 星标</a></li>
                        <li><a href="#" class="text-ellipsis"><i class="fa fa-trash text-danger"></i> 回收站</a></li>
                    </ul>
                </div>

            </div>
            <div class="panel panel-info">
                <div class="panel-body">
                    <h3>6GB</h3>
                    <div class="progress m-t-xs">
                        <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-info">
                            65%
                        </div>
                    </div>
                    <small>
                        请删除过期不用的文件以减少控件占用
                    </small>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-pdf-o text-info"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Document_2016.doc</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-audio-o text-warning"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-excel-o text-success"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body file-body">
                            <i class="fa f-xxl fa-file-powerpoint-o text-danger"></i>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="text-ellipsis">Presentation_2016.doc</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav>
                    <ul class="pager" style="width: 500px; margin: auto;">
                        <li class="previous"><a href="#">上一页</a></li>
                        <li class="next"><a href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>