<meta title="帖子详情" icon="fa fa-comments-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <i class="pull-left fa fa-comments-o f-xxl text-orange"></i>
            <div class="m-b-xs f-md">帖子详情</div>
            <small>欢迎来到iSmartJs论坛，在这里您可以提出您的问题，并且会很快得到解答</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 forum-topic-list">

            <div class="panel ">
                <div class="panel-heading">
                    <span class="pull-right">
                        <i class="fa fa-clock-o"> </i> 最后更新：20分钟前
                    </span>
                    <span class="f"> 前端技术 &gt; Javascript &gt; <span class="text-success">iSmartJs</span> </span>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>周杰伦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-shield text-success"></i>

                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>不让我的眼泪陪我过夜</h5>
                            <p>
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </p>
                            <h5>恋风恋歌</h5>
                            <p>
                                白风车想谁呢
                                六月的樱花悄声寂寞
                                蒲公英它的旅程
                                终点会在哪里降落呢
                                听风说它走了
                                宁夏的流星已划过
                                静止了旋转木马
                                终于哭着失去所有联络
                                爱是毕加索风歌
                                尼罗河的月落
                                吉普赛的传说
                                青春向右生活向左
                            </p>
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>齐秦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-shield text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                            <div class="bg-light p">
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/qiqin.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>齐秦</strong>回复<strong>周杰伦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>恋风恋歌</h5>
                                        <p>
                                            白风车想谁呢
                                            六月的樱花悄声寂寞
                                            蒲公英它的旅程
                                            终点会在哪里降落呢
                                            听风说它走了
                                            宁夏的流星已划过
                                            静止了旋转木马
                                            终于哭着失去所有联络
                                            爱是毕加索风歌
                                            尼罗河的月落
                                            吉普赛的传说
                                            青春向右生活向左
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/zjl.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>周杰伦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>不让我的眼泪陪我过夜</h5>
                                        <p>
                                            你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                            没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                            没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                                        </p>
                                    </div>
                                </div>
                                <form>
                                    <textarea class="form-control" placeholder="输入评论"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>周杰伦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-shield text-success"></i>

                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>不让我的眼泪陪我过夜</h5>
                            <p>
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </p>
                            <h5>恋风恋歌</h5>
                            <p>
                                白风车想谁呢
                                六月的樱花悄声寂寞
                                蒲公英它的旅程
                                终点会在哪里降落呢
                                听风说它走了
                                宁夏的流星已划过
                                静止了旋转木马
                                终于哭着失去所有联络
                                爱是毕加索风歌
                                尼罗河的月落
                                吉普赛的传说
                                青春向右生活向左
                            </p>
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>齐秦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-shield text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                            <div class="bg-light p">
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/qiqin.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>齐秦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>恋风恋歌</h5>
                                        <p>
                                            白风车想谁呢
                                            六月的樱花悄声寂寞
                                            蒲公英它的旅程
                                            终点会在哪里降落呢
                                            听风说它走了
                                            宁夏的流星已划过
                                            静止了旋转木马
                                            终于哭着失去所有联络
                                            爱是毕加索风歌
                                            尼罗河的月落
                                            吉普赛的传说
                                            青春向右生活向左
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/zjl.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>周杰伦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>不让我的眼泪陪我过夜</h5>
                                        <p>
                                            你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                            没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                            没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                                        </p>
                                    </div>
                                </div>
                                <form>
                                    <textarea class="form-control" placeholder="输入评论"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>周杰伦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-shield text-success"></i>

                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>不让我的眼泪陪我过夜</h5>
                            <p>
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </p>
                            <h5>恋风恋歌</h5>
                            <p>
                                白风车想谁呢
                                六月的樱花悄声寂寞
                                蒲公英它的旅程
                                终点会在哪里降落呢
                                听风说它走了
                                宁夏的流星已划过
                                静止了旋转木马
                                终于哭着失去所有联络
                                爱是毕加索风歌
                                尼罗河的月落
                                吉普赛的传说
                                青春向右生活向左
                            </p>
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left top-author pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-sm" />
                            <div class="author-info">
                                <h4>齐秦</h4>
                                <small>3个小时前</small>
                                <div class="badges">
                                    <i class="fa fa-shield text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5>青春纪念册</h5>
                            <p>
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                去年夏天　数着贝壳和浪花的海边
                                我们祈祷着明年的今天　还能够保持这样无忧笑脸
                                你是夏天　有海风吹过棕榈的蓝天
                                让我忘记了眼泪有多咸
                                你一出现就是晴天
                                还想听你任性的说
                                要带我去环游世界　就算整个世界都改变
                                也不改变　为你勇敢的自己
                                给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                                有我陪伴　多苦都变成甜　睁开眼就看见永远
                                给我你的心作纪念　我的梦　有你的祝福才能够完全
                            </p>
                            <div class="bg-light p">
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/qiqin.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>齐秦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>恋风恋歌</h5>
                                        <p>
                                            白风车想谁呢
                                            六月的樱花悄声寂寞
                                            蒲公英它的旅程
                                            终点会在哪里降落呢
                                            听风说它走了
                                            宁夏的流星已划过
                                            静止了旋转木马
                                            终于哭着失去所有联络
                                            爱是毕加索风歌
                                            尼罗河的月落
                                            吉普赛的传说
                                            青春向右生活向左
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left pull-left">
                                        <img src="images/zjl.jpg" class="img-circle img-xs" />
                                    </a>

                                    <div class="media-body">
                                        <strong>周杰伦</strong>
                                        <small class="text-muted">2分钟前</small>
                                        <h5>不让我的眼泪陪我过夜</h5>
                                        <p>
                                            你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                                            没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                                            没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                                            不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                                            不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                                        </p>
                                    </div>
                                </div>
                                <form>
                                    <textarea class="form-control" placeholder="输入评论"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>