<meta title="论坛" icon="fa fa-comments-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <i class="pull-left fa fa-comments-o f-xxl text-orange"></i>

            <div class="m-b-xs f-md">iSmartJs</div>
            <small>欢迎来到iSmartJs论坛，在这里您可以提出您的问题，并且会很快得到解答</small>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <div class="text-muted pull-right text-right">
                呆瓜于3天前最后更新 <br/>
                <small>2016年5月1日</small>
            </div>
            <div class="form-inline">
                搜索： <input class="form-control" type="text" style="width: 500px;"/>
            </div>
        </div>
    </div>
    <div class="panel  panel-orange">

        <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> 最后更新时间： 3天前
                </span>
            iSmartJs
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">在模块页面中如何定义页面关闭监听，并确认关闭？</a><span class="label label-success"> new</span>
                        <div>
                            如果一个模块页面关闭的时候，我们需要检查当前页面的表单是否保存，如果保存了就直接关闭，如果没有保存，就确认关闭，这样的功能该如何实现...
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 4780 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 150 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">使用loop、check、pagination控件构建grid</a ><span class="label label-success"> new</span>
                        <div>
                            我们在进行数据列表展示的时候，页面应该由搜索表单、列表、分页3部分组成，而且需要行选择功能....
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 6582 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 437 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel  panel-orange">

        <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> 最后更新时间： 3天前
                </span>
            Javascript
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">在模块页面中如何定义页面关闭监听，并确认关闭？</a><span class="label label-orange"> new</span>
                        <div>
                            如果一个模块页面关闭的时候，我们需要检查当前页面的表单是否保存，如果保存了就直接关闭，如果没有保存，就确认关闭，这样的功能该如何实现...
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 586 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 69 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">使用loop、check、pagination控件构建grid</a ><span class="label label-orange"> new</span>
                        <div>
                            我们在进行数据列表展示的时候，页面应该由搜索表单、列表、分页3部分组成，而且需要行选择功能....
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 2298 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 118 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel  panel-orange">

        <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> 最后更新时间： 3天前
                </span>
            HTML5
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">在模块页面中如何定义页面关闭监听，并确认关闭？</a><span class="label label-orange"> new</span>
                        <div>
                            如果一个模块页面关闭的时候，我们需要检查当前页面的表单是否保存，如果保存了就直接关闭，如果没有保存，就确认关闭，这样的功能该如何实现...
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 1206 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 99 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">使用loop、check、pagination控件构建grid</a >
                        <div>
                            我们在进行数据列表展示的时候，页面应该由搜索表单、列表、分页3部分组成，而且需要行选择功能....
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 859 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 30 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">在模块页面中如何定义页面关闭监听，并确认关闭？</a>
                        <div>
                            如果一个模块页面关闭的时候，我们需要检查当前页面的表单是否保存，如果保存了就直接关闭，如果没有保存，就确认关闭，这样的功能该如何实现...
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 5476 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 90 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row p">
                    <div class="col-md-10">
                        <a href="forum-detail.html" class="f-m">使用loop、check、pagination控件构建grid</a >
                        <div>
                            我们在进行数据列表展示的时候，页面应该由搜索表单、列表、分页3部分组成，而且需要行选择功能....
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 1604 </span>
                        <br />
                        <div>浏览</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="text-primary f-md"> 86 </span>
                        <br />
                        <div>评论</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>