<meta title="票据" icon="fa fa-ticket"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="m-b-xs f-md">票据</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Invoice
                                <small>105286238310553</small>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> 编辑</button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-check "></i> 保存</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-body p-xl">
                    <div class="row m-b-xl">
                        <div class="col-sm-6">
                            <h4>编号：105286238310553</h4>
                            <address>
                                <strong>中国阿里巴巴股份有限公司</strong><br>
                                杭州市华星路99号东部软件园创业大厦<br>
                                <abbr title="Phone">电话：</abbr> (86) 571-8502-2088
                            </address>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span>收票方：</span>
                            <address>
                                <strong>iSmartJs</strong><br>
                                上海市浦东新区张杨路<br>
                                <abbr title="Phone">电话：</abbr> (86) 186****3526
                            </address>
                            <strong>日期：</strong>2016年6月9日
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>清单</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>税率</th>
                                <th>总价</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div><strong>聚石塔云主机-带宽(云主机ECS-带宽)</strong></div>
                                    <small>
                                        单号：20160502106658803680529，续费周期：3个月
                                    </small>
                                </td>
                                <td>1</td>
                                <td>￥3780.00</td>
                                <td>￥50.98</td>
                                <td>￥3780.98</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><strong>MySQL-内存(6000M)+最大连接数(1500)+QPS(2500)+IOPS(3000)(RDS弹性升级包)</strong>
                                    </div>
                                    <small>
                                        单号：20160327106143149620529，续费周期：3个月
                                    </small>
                                </td>
                                <td>2</td>
                                <td>￥336.00</td>
                                <td>￥36.80</td>
                                <td>￥412.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><strong>聚石塔云主机-带宽(云主机ECS-带宽)</strong></div>
                                    <small>
                                        单号：20150711103262000060529，带宽：20M，周期：3个月
                                    </small>
                                </td>
                                <td>3</td>
                                <td>￥3780.00</td>
                                <td>￥193.20</td>
                                <td>￥4087.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><strong>聚石塔云主机-带宽(云主机ECS-带宽)</strong></div>
                                    <small>
                                        单号：20160502106658803680529，续费周期：3个月
                                    </small>
                                </td>
                                <td>1</td>
                                <td>￥3780.00</td>
                                <td>￥50.98</td>
                                <td>￥3780.98</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><strong>MySQL-内存(6000M)+最大连接数(1500)+QPS(2500)+IOPS(3000)(RDS弹性升级包)</strong>
                                    </div>
                                    <small>
                                        单号：20160327106143149620529，续费周期：3个月
                                    </small>
                                </td>
                                <td>2</td>
                                <td>￥336.00</td>
                                <td>￥36.80</td>
                                <td>￥412.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div><strong>聚石塔云主机-带宽(云主机ECS-带宽)</strong></div>
                                    <small>
                                        单号：20150711103262000060529，带宽：20M，周期：3个月
                                    </small>
                                </td>
                                <td>3</td>
                                <td>￥3780.00</td>
                                <td>￥193.20</td>
                                <td>￥4087.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row m-t">
                        <div class="col-md-4 col-md-offset-8">
                            <table class="table table-striped text-right">
                                <tbody>
                                <tr>
                                    <td><strong>总价：</strong></td>
                                    <td>￥12026.00</td>
                                </tr>
                                <tr>
                                    <td><strong>总税率：</strong></td>
                                    <td>￥235.98</td>
                                </tr>
                                <tr>
                                    <td><strong>总计 :</strong></td>
                                    <td>￥13026.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="m-t">
                                注：请在15天内完成付款，过期将自动取消
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>