<meta title="邮件详情" icon="fa fa-envelope-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="m-b-xs f-md">邮件详情</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-heading">
                    <h4>你的订单正 在处理中 W440876216</h4>
                </div>
                <div class=" border-left border-right bg-light p">
                    <table>
                        <tr>
                            <td>发件人：</td>
                            <td>Apple Store</td>
                        </tr>
                        <tr>
                            <td>时　间：</td>
                            <td>2016年5月30日</td>
                        </tr>
                        <tr>
                            <td>收件人：</td>
                            <td>175309744@qq.com; 175309744@qq.com; 175309744@qq.com;</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div>
                        <h4>你好呆瓜，请允许我为你写一首歌 </h4>
                        <h5>不让我的眼泪陪我过夜</h5>
                        <p>
                            你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，
                            没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                            不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，
                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，
                            没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，
                            不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，
                            不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，
                            不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，
                            不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                        </p>
                        <h5>恋风恋歌</h5>
                        <p>
                            白风车想谁呢
                            六月的樱花悄声寂寞
                            蒲公英它的旅程
                            终点会在哪里降落呢
                            听风说它走了
                            宁夏的流星已划过
                            静止了旋转木马
                            终于哭着失去所有联络
                            爱是毕加索风歌
                            尼罗河的月落
                            吉普赛的传说
                            青春向右生活向左
                        </p>
                        <h5>青春纪念册</h5>
                        <p>
                            给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                            去年夏天　数着贝壳和浪花的海边
                            我们祈祷着明年的今天　还能够保持这样无忧笑脸
                            你是夏天　有海风吹过棕榈的蓝天
                            让我忘记了眼泪有多咸
                            你一出现就是晴天
                            还想听你任性的说
                            要带我去环游世界　就算整个世界都改变
                            也不改变　为你勇敢的自己
                            给你我的心作纪念　这份爱　任何时刻你打开都新鲜
                            有我陪伴　多苦都变成甜　睁开眼就看见永远
                            给我你的心作纪念　我的梦　有你的祝福才能够完全
                        </p>
                        <p>齐秦</p>
                    </div>
                </div>

                <div class="border-bottom border-left border-right bg-white p">
                    <p class="m-b-md">
                        <span><i class="fa fa-paperclip"></i> 3个附件 - </span>
                        <a href="#" class="btn btn-default btn-xs">
                            下载所有 <i class="fa fa-file-zip-o"></i>
                        </a>
                    </p>
                    <div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="panel text-center">
                                    <div class="panel-body">
                                        <i class="fa fa-file-pdf-o text-info f-xxl"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#" class="text-ellipsis">Document_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel text-center">
                                    <div class="panel-body">
                                        <i class="fa fa-file-audio-o text-warning  f-xxl"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#" class="text-ellipsis">Audio_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="panel text-center">
                                    <div class="panel-body">
                                        <i class="fa fa-file-excel-o text-success  f-xxl"></i>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#" class="text-ellipsis">Sheets_2016.doc</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <button class="btn btn-default"><i class="fa fa-reply"></i> 回复</button>
                        <button class="btn btn-default"><i class="fa fa-arrow-right"></i> 下一封</button>
                        <button class="btn btn-default"><i class="fa fa-print"></i> 打印</button>
                        <button class="btn btn-default"><i class="fa fa-trash-o"></i> 删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>