<meta title="信箱" icon="fa fa-envelope-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="m-b-xs f-md">信箱</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel ">
                <div class="panel-body">
                    <a href="mail-compose.html" class="btn btn-warning btn-block">写信</a>
                    <ul class="nav nav-pills nav-stacked border-bottom p-b p-t">
                        <li class="active">
                            <a href="mail-view.html">
                                <span class="pull-right">12</span>
                                <i class="fa fa-envelope"></i> 收件箱
                            </a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-paper-plane"></i> 发件箱</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-pencil"></i> 草稿箱</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-trash"></i> 回收站</a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked border-bottom p-b p-t">
                        <li>
                            <a href="mail-view.html"><i class="fa fa-plane text-danger"></i> 旅行</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-bar-chart text-warning"></i> 金融</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-users text-info"></i> 社交</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-tag text-success"></i> 推广</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-flag text-primary"></i> 更新</a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked p-b p-t">
                        <li>
                            <a href="mail-view.html"><i class="fa fa-gears"></i> 设置</a>
                        </li>
                        <li>
                            <a href="mail-view.html"><i class="fa fa-info-circle"></i> 支持</a>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="panel ">
                <div class="panel-heading ">
                    <div class="text-center p-xs font-normal">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm"
                                   placeholder="输入关键字进行搜索...">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default">搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 m-b-md">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 m-b-md">
                            <div class="btn-group pull-right">
                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">淘宝网</a></td>
                                <td><a href="mail-view.html">聚石塔VM云主机即将到期，请尽快续费！</a>
                                </td>
                                <td><i class="fa fa-paperclip"></i></td>
                                <td class="text-right">5月26日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">Apple Store</a> <span class="label label-warning pull-right">电商</span>
                                </td>
                                <td><a href="mail-view.html">你的订单正 在处理中 W465006114</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月27日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">高德软件</a> <span class="label label-info pull-right">商业</span></td>
                                <td><a href="mail-view.html">[有红包@你]您收到了一份来自阿里巴巴集团的年货红包，快来领取！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">iTunes Store</a> <span class="label label-orange pull-right">音乐</span>
                                </td>
                                <td><a href="mail-view.html">您已订阅 Apple Music 个人会员资格</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">阿里巴巴订单系统</a> <span class="label label-success pull-right">电商</span></td>
                                <td><a href="mail-view.html">阿里巴巴提醒您：您已下单成功！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">淘宝网</a></td>
                                <td><a href="mail-view.html">聚石塔VM云主机即将到期，请尽快续费！</a>
                                </td>
                                <td><i class="fa fa-paperclip"></i></td>
                                <td class="text-right">5月26日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">Apple Store</a> <span class="label label-warning pull-right">电商</span>
                                </td>
                                <td><a href="mail-view.html">你的订单正 在处理中 W465006114</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月27日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">高德软件</a> <span class="label label-info pull-right">商业</span></td>
                                <td><a href="mail-view.html">[有红包@你]您收到了一份来自阿里巴巴集团的年货红包，快来领取！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">iTunes Store</a> <span class="label label-orange pull-right">音乐</span>
                                </td>
                                <td><a href="mail-view.html">您已订阅 Apple Music 个人会员资格</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">阿里巴巴订单系统</a> <span class="label label-success pull-right">电商</span></td>
                                <td><a href="mail-view.html">阿里巴巴提醒您：您已下单成功！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">淘宝网</a></td>
                                <td><a href="mail-view.html">聚石塔VM云主机即将到期，请尽快续费！</a>
                                </td>
                                <td><i class="fa fa-paperclip"></i></td>
                                <td class="text-right">5月26日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">Apple Store</a> <span class="label label-warning pull-right">电商</span>
                                </td>
                                <td><a href="mail-view.html">你的订单正 在处理中 W465006114</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月27日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">高德软件</a> <span class="label label-info pull-right">商业</span></td>
                                <td><a href="mail-view.html">[有红包@你]您收到了一份来自阿里巴巴集团的年货红包，快来领取！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">iTunes Store</a> <span class="label label-orange pull-right">音乐</span>
                                </td>
                                <td><a href="mail-view.html">您已订阅 Apple Music 个人会员资格</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">阿里巴巴订单系统</a> <span class="label label-success pull-right">电商</span></td>
                                <td><a href="mail-view.html">阿里巴巴提醒您：您已下单成功！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">淘宝网</a></td>
                                <td><a href="mail-view.html">聚石塔VM云主机即将到期，请尽快续费！</a>
                                </td>
                                <td><i class="fa fa-paperclip"></i></td>
                                <td class="text-right">5月26日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">Apple Store</a> <span class="label label-warning pull-right">电商</span>
                                </td>
                                <td><a href="mail-view.html">你的订单正 在处理中 W465006114</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月27日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">高德软件</a> <span class="label label-info pull-right">商业</span></td>
                                <td><a href="mail-view.html">[有红包@你]您收到了一份来自阿里巴巴集团的年货红包，快来领取！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">iTunes Store</a> <span class="label label-orange pull-right">音乐</span>
                                </td>
                                <td><a href="mail-view.html">您已订阅 Apple Music 个人会员资格</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="s-checkbox">
                                        <input type="checkbox">
                                        <span class="s-checkbox-indicator"></span>
                                    </label>
                                </td>
                                <td><a href="mail-view.html">阿里巴巴订单系统</a> <span class="label label-success pull-right">电商</span></td>
                                <td><a href="mail-view.html">阿里巴巴提醒您：您已下单成功！</a>
                                </td>
                                <td></td>
                                <td class="text-right">5月28日</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <ul class="pagination pagination-sm pull-right space-v-sm">
                        <li class="disabled"><a href="javascript:;">«</a></li>
                        <li class="disabled"><a href="javascript:;">‹</a></li>
                        <li class="active"><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                        <li><a href="javascript:;">5</a></li>
                        <li><a href="javascript:;">6</a></li>
                        <li><a href="javascript:;">7</a></li>
                        <li><a href="javascript:;">8</a></li>
                        <li><a href="javascript:;">9</a></li>
                        <li><a href="javascript:;">10</a></li>
                        <li><a href="javascript:;">11</a></li>
                        <li><a href="javascript:;">›</a></li>
                        <li ><a href="javascript:;">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>