<meta title="个人资料" class="fa fa-user"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="f-md m-b-xs">个人资料</div>
            <div>
                所有页面的样式基本上均使用bootstrap的样式和排版构成，没有额外的样式代码，参考样例稍加修改即可构建出你所需要的样式，如需特殊样式，请自行定义。
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <i class="fa fa-qq btn btn-default btn-xs "></i>
                            <i class="fa fa-wechat btn btn-default btn-xs "></i>
                            <i class="fa fa-renren btn btn-default btn-xs "></i>
                        </div>
                    </div>
                    <img alt="logo" class="img-circle m-b m-t-m" src="images/profile.jpg">

                    <h3>可乐嘚</h3>

                    <div class="text-muted m-b-xs">中国上海</div>
                    <p>
                        白风车想谁呢，六月的樱花悄声寂寞，蒲公英它的旅程，终点会在哪里降落呢，听风说它走了，宁夏的流星已划过
                    </p>

                    <div class="progress m-t-xs progress-sm">
                        <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65"
                             role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>玩过的游戏</dt>
                        <dd>
                            暗黑3、魔兽世界、英雄联盟、风暴英雄、魔兽争霸
                        </dd>
                        <dt>人生格言</dt>
                        <dd>这家伙很懒，什么都没有留下来</dd>
                        <dd>曾经沧海难为水，除却巫山不是云</dd>
                        <dt>地址</dt>
                        <dd>上海市浦东新区张杨路1318号</dd>
                    </dl>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>文章： </span> <strong>200</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>粉丝： </span> <strong>300</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>关注： </span> <strong>400</strong></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="row m-b border-bottom p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/qiqin.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">齐秦</a>在新浪微博@了你
                            </div>
                            <span class="text-muted">5分钟前评论了你的微博</span>
                            <div class="m-t">
                                这是我的歌曲，收录在专辑《丝路》里面:)
                            </div>
                            <div class="well m-t-xs">
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b border-bottom p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/zjl.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">周杰伦</a>发布了新的动态
                            </div>
                            <span class="text-muted">5分钟前来自新浪微博</span>
                            <div class="p">
                                乘着风 游荡在蓝天边
                                一片云掉落在我面前
                                捏成你的形状随风跟着我
                                一口一口 吃掉忧愁
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 如果听得见
                                它一定实现
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背默默 许下心愿
                                看远方的星 如果听得见
                                它一定实现以上来自度娘
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b border-bottom p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/qiqin.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">齐秦</a>在新浪微博@了你
                            </div>
                            <span class="text-muted">5分钟前评论了你的微博</span>
                            <div class="m-t">
                                这是我的歌曲，收录在专辑《丝路》里面:)
                            </div>
                            <div class="well m-t-xs">
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b border-bottom p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/zjl.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">周杰伦</a>发布了新的动态
                            </div>
                            <span class="text-muted">5分钟前来自新浪微博</span>
                            <div class="p">
                                乘着风 游荡在蓝天边
                                一片云掉落在我面前
                                捏成你的形状随风跟着我
                                一口一口 吃掉忧愁
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 如果听得见
                                它一定实现
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背默默 许下心愿
                                看远方的星 如果听得见
                                它一定实现以上来自度娘
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b border-bottom p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/qiqin.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">齐秦</a>在新浪微博@了你
                            </div>
                            <span class="text-muted">5分钟前评论了你的微博</span>
                            <div class="m-t">
                                这是我的歌曲，收录在专辑《丝路》里面:)
                            </div>
                            <div class="well m-t-xs">
                                你的柔情似水，几度让我爱得沉醉，毫无保留不知道后悔，你能不能体会真情可贵，没有余力伤悲， 爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜，不让你的吻留着余味， 忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退， 我的真情不再随便给，没有余力伤悲，爱情像难收的覆水，长长来路走的太憔悴，你只留下我收拾这一切，不让我的眼泪陪我过夜， 不让你的吻留着余味，忘了曾经爱过谁，慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对， 爱的潮水已经退，我的真情不再随便给，不让我的眼泪陪我过夜，不让你的吻留着余味，忘了曾经爱过谁， 慢慢习惯了寂寞相随，不让我的眼泪陪我过夜，不让你的脸梦里相对，爱的潮水已经退，我的真情不再随便给。
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b p-b">
                        <div class="col-lg-1">
                            <img class="img-sm img-circle" src="images/zjl.jpg" />
                        </div>

                        <div class="col-lg-11">
                            <div>
                                <a href="javascript:;">周杰伦</a>发布了新的动态
                            </div>
                            <span class="text-muted">5分钟前来自新浪微博</span>
                            <div class="p">
                                乘着风 游荡在蓝天边
                                一片云掉落在我面前
                                捏成你的形状随风跟着我
                                一口一口 吃掉忧愁
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 如果听得见
                                它一定实现
                                载着你 彷佛载着阳光
                                不管到哪里 都是晴天
                                蝴蝶自在飞
                                花也布满天
                                一朵一朵 因你而香
                                试图让夕阳飞翔
                                带领你我环绕大自然
                                迎着风 开始共度每一天
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背 默默许下心愿
                                看远方的星 是否听得见
                                手牵手 一步两步三步四步 望着天
                                看星星 一颗两颗三颗四颗 连成线
                                背对背默默 许下心愿
                                看远方的星 如果听得见
                                它一定实现以上来自度娘
                            </div>
                            <div class="m-t-m">
                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> 赞一下</a>
                                <a class="btn btn-xs btn-violet"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>