<meta title="项目" icon="fa fa-paw" />
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="f-md m-b-xs">项目列表</div>
            <div>
                所有页面的样式基本上均使用bootstrap的样式和排版构成，没有额外的样式代码，参考样例稍加修改即可构建出你所需要的样式，如需特殊样式，请自行定义。
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-success ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-orange ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-info ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-violet ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-primary ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-warning ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-info ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-success ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4><a href="javascript:;">iSmartJs</a></h4>

                            <p class="text-muted">
                                iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                            </p>

                            <div class="row">
                                <div class="col-sm-3 text-primary">
                                    <div >项目经理</div>
                                    <small>可乐嘚</small>
                                </div>
                                <div class="col-sm-3 text-warning">
                                    <div >VERSION</div>
                                    <small>4.0.0</small>
                                </div>
                                <div class="col-sm-3 text-danger">
                                    <div >DEADLINE</div>
                                    <small>2016年7月1日</small>
                                </div>
                                <div class="col-sm-3">
                                    <div >进度</div>
                                    <div class="progress m-t-xs full progress-sm">
                                        <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class=" progress-bar progress-bar-success">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-orange ">NEW</span>
                            <div class="m-t ">
                                <div class="btn-group ">
                                    <button class="btn btn-xs btn-default"> 浏览</button>
                                    <button class="btn btn-xs btn-default"> 编辑</button>
                                    <button class="btn btn-xs btn-default"> 删除</button>
                                </div>
                            </div>
                            <div class="space-v-sm">
                                <strong class="text-success f-lg">
                                    ￥12,0640
                                </strong>
                            </div>
                            <div class="m-b-wrapper-xs">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                                <img  class="img-circle img-xs" src="images/qiqin.jpg">
                                <img  class="img-circle img-xs" src="images/zjl.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    最后更新时间：2016年6月7日
                </div>
            </div>
        </div>
    </div>
</div>