<meta title="社交" icon="fa fa-comments-o" width="800px"/>
<div class="container-fluid space-v">
    <div class="panel panel-orange">
        <div class="panel-body">
            <div class="f-md m-b-xs">社交</div>
            <div>
                所有页面的样式基本上均使用bootstrap的样式和排版构成，没有额外的样式代码，参考样例稍加修改即可构建出你所需要的样式，如需特殊样式，请自行定义。
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div class="img-wrapper">
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                                <p>
                                    <img src="images/001.jpg" style="max-height: 200px;" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div class="img-wrapper">
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                                <p>
                                    <img src="images/001.jpg" style="max-height: 200px;" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
            <div class="panel panel-orange">
                <div class="panel-body">
                    <div class="media  clearfix">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-md">
                        </a>

                        <div class="media-body">
                            <h5>周杰伦</h5>
                            <small class="text-muted">3个月前</small>
                        </div>
                    </div>

                    <div class=" m-t-md">
                        iSmartJs是一个基于bootstrap和jQuery的后端RIA开发框架，它是一整套的解决方案，通过iSmartJs您可以通过配置以及跟随iSmartJs的教程在10分钟之内进入业务开发，提高工作效率。
                    </div>
                </div>
                <div class="well no-box-shadow border-t-none">
                    <div class="media clearfix m-b">
                        <a class="pull-left">
                            <img src="images/zjl.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >可乐嘚</span>
                            <small class="text-muted">3个月前</small>

                            <div >
                                终于找到了一个开发很顺手的RIA框架了，而且框架在架构上解决了很多技术上的问题，使得我们只需要关注业务模块开发，很大程度上提高了工作效率。
                            </div>
                        </div>
                    </div>
                    <div class="media clearfix  m-b">
                        <a class="pull-left">
                            <img src="images/qiqin.jpg" class="img-circle img-xs">
                        </a>

                        <div class="media-body">
                            <span >齐秦</span>
                            <small class="text-muted">5分钟前</small>

                            <div >
                                我也试用了下，的确开发很迅捷，支持一下。
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" placeholder="填写评论"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>