<meta title="时间轴" icon="fa fa-clock-o"/>
<div class="container-fluid space-v">
    <div class="panel">
        <div class="panel-body">
            <div class="f-md m-b-xs">时间轴</div>
        </div>
    </div>
    <div class="row m-lg">
        <div class="col-md-6">
            <div class="timeline-wrapper" >
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-success">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-03-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs 3.x.x版本正式release</h4>

                            <p>
                                iSmartJs 3.x.x正式release，UI界面参考阿里云的管理中心界面，并作相应的简化，相比之前的UI有了更好的体验。4.0.0版本也会即将到来，请期待
                            </p>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年3月30日
                    </div>
                </div>
                <div class="timeline timeline-info">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-03-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs 2.x.x版本正式release</h4>

                            <p>
                                iSmartJs 2.x.x正式release，UI界面参考阿里云的管理中心界面，并作相应的简化，相比之前的UI有了更好的体验。4.0.0版本也会即将到来，请期待
                            </p>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年2月30日
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="timeline-wrapper" >
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-success">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-03-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs 3.x.x版本正式release</h4>

                            <p>
                                iSmartJs 3.x.x正式release，UI界面参考阿里云的管理中心界面，并作相应的简化，相比之前的UI有了更好的体验。4.0.0版本也会即将到来，请期待
                            </p>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年3月30日
                    </div>
                </div>
                <div class="timeline timeline-info">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-03-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs 2.x.x版本正式release</h4>

                            <p>
                                iSmartJs 2.x.x正式release，UI界面参考阿里云的管理中心界面，并作相应的简化，相比之前的UI有了更好的体验。4.0.0版本也会即将到来，请期待
                            </p>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年2月30日
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
                <div class="timeline timeline-orange">
                    <div class="timeline-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="timeline-body">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> 2016-04-30 <br> <small>12:17:43</small> </span>

                            <h4>iSmartJs4.0.0版本正式开始开发</h4>
                            <p>
                                iSmartJs新版本正式进入开发，4.0.0版本会拥有新的ui，以及更多控件上的优化。
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-warning no-margin">
                        这个版本在大体上继续兼容之前的版本，但是也会有很多激进的改变，如果直接升级将需要进行一定的修改。
                    </div>
                    <div class="timeline-footer">
                        可乐嘚发布于2016年4月30日
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>