<meta title="resource资源控件" />
<div>
<h2 class="page-header">resource <small>资源访问控件</small></h2>
<p class="lead">资源访问控件，通过该控件可以自动访问服务器资源，并将返回值赋值给控件。</p>
<hr />
<h3 s-window-role="a" title="控件定义" id="define">1. 控件定义</h3>
<code>&lt;div s="resource" s-resource-src="xxx.json" &gt;&lt;/div&gt;</code>
<h4>配置参数</h4>
<ol>
    <li><code>s</code>：resource</li>
    <li><code>src</code>：请求的资源路径</li>
    <li><abbr title="闭包参数，该参数值是根据属性值从页面闭包中获取的。">ctx</abbr> <code>form</code>：
        资源的查询form，当访问资源的时候，会把 <code>form.serialize()</code> 的返回值作为请求参数。该参数的返回值必须是form的jQuery的实例。</li>
    <li><abbr title="闭包参数，该参数值是根据属性值从页面闭包中获取的。">ctx</abbr> <code>adapter</code>：
        适配返回的数据，该参数值必须是一个function，该function接受ajax的返回值，并返回处理后的值，然后使用该返回值去调用data方法。</li>
    <li><abbr title="闭包参数，该参数值是根据属性值从页面闭包中获取的。">ctx</abbr> <code>cascade</code>：
        级联元素，当级联的元素发生改变的时候，就会使用级联元素的值刷新当前控件，该值配置必须是jQuery的对象</li>
    <li><code>cascade-key</code>：级联事件发生的时候，该参数值会作为级联元素值的key，如：
        <code>cascade-key="province"</code>，请求的时候会生成查询参数<code>province=级联元素值</code></li>
    <li><code>cascade-data</code>：级联资源读取的初始值，当控件创建的时候，会使用该值读取资源。</li>
    <li><code>fn</code>：资源读取后调用控件的方法。默认为 <code>data</code></li>
</ol>
<h4>配置资源的类型</h4>
<p >资源的类型可以包括：json,text等jQuery ajax支持的其他类型。在定义 <code>s-resource-src</code>
的时候，通过为资源添加前缀即可定义资源的类型，默认类型是 <code>json</code> 类型。示例：
</p>
<p class="text-info">s-resource-src='html:xxx.html'、s-resource-src="json:resource.json"</p>
<hr />
<h3 s-window-role="a" title="示例" id="example">2. 示例</h3>
<p>加载json/resource.json资源</p>
<div s="datac,resource" s-resource-src="json/resource.json" style="width: 400px; border-radius: 4px; border:1px solid #ddd; padding: 10px;">
    <span s s-smart-key="name" class="text-info"></span>, <span s s-smart-key="feel" class="text-info"></span>
</div>
<h5>控件源码</h5>
<pre>
&lt;div <span class="text-info">s="resource,datac" s-resource-src="json/resource.json"</span> &gt;
    &lt;span <span class="text-info">s s-smart-key="name"</span> class="text-info"&gt;&lt;/span&gt;,
    &lt;span <span class="text-info">s s-smart-key="feel"</span> class="text-info"&gt;&lt;/span&gt;
&lt;/div&gt;
</pre>
<h5>resource.json源码</h5>
<pre>
{
    "name": "Smart RIA",
    "feel": "So Easy, So Powerful, So Pretty"
}
</pre>
<hr />
<h3 s-window-role="a" title="绑定查询表单" id="bindSearchForm">3. 绑定查询表单</h3>
<p>通过 <code>s-resource-form</code> 绑定查询表单，当resource控件加载资源的时候，会自动序列化绑定的表单数据（<code>form.serialize()</code>）进行查询。</p>
<div>
    <form class="form-inline" id="resourceSearchForm">
        <div class="form-group">
            <label class="sr-only" >Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter name" />
        </div>
        <div class="form-group">
            <label class="sr-only" >Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="Phone" />
        </div>
        <input s="click" s-click-action="S.S('#searchResourceDiv').refresh()" type="button" class="btn btn-primary btn-small" value="刷新" />
    </form>
    <br />
    <div id="searchResourceDiv" s="resource,datac" s-resource-src="json/resource.json" s-resource-form="S.N('#resourceSearchForm')"
         style="width: 500px; border: 1px solid #ddd; padding: 10px;">
        <span s s-smart-key="name" class="text-info"></span>, <span s s-smart-key="feel" class="text-info"></span>
    </div>
</div>
<p class="text-warning">因为后台不是动态语言，所以无法输出查询参数，同学们可以打开debug，查看network请求信息，可以看到在点击刷新的时候可以看到查询参数。</p>
<h4>源码</h4>
<pre>
&lt;form class="form-inline" <span class="text-info">id="resourceSearchForm"</span>&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="sr-only" &gt;Name&lt;/label&gt;
        &lt;input type="text" name="name" class="form-control" placeholder="Enter name" /&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="sr-only" &gt;Phone&lt;/label&gt;
        &lt;input type="text" name="phone" class="form-control" placeholder="Phone" /&gt;
    &lt;/div&gt;
    &lt;input s="click" s-click-action="S.S('#searchResourceDiv').refresh()" type="button" class="btn btn-primary btn-small" value="刷新" /&gt;
&lt;/form&gt;
&lt;br /&gt;
&lt;div id="searchResourceDiv" s="resource,datac" s-resource-src="json/resource.json" <span class="text-info">s-resource-form="S.N('#resourceSearchForm')"</span>
     style="width: 500px; border: 1px solid #ddd; padding: 10px;"&gt;
    &lt;span s s-smart-key="name" class="text-info"&gt;&lt;/span&gt;, &lt;span s s-smart-key="feel" class="text-info"&gt;&lt;/span&gt;
&lt;/div&gt;
</pre>
<p class="lead">
    s-resource-form参数是一个context参数，即该参数值是根据配置的值从当前闭包中取得的值。如上：<code>s-resource-form="S.N('#resourceSearchForm')"</code>
    s-resource-form的值就是当前页面中<span class="text-info">id</span>为<span class="text-info">resourceSearchForm</span>的表单的jQuery对象。
</p>
<hr />
<h3 s-window-role="a" title="数据适配" id="dataAdapter">4. 数据适配</h3>
<p>加载json/resource.json资源</p>
<div s="resource,datac" s-resource-src="json/resource.json"
     s-resource-adapter="adaptData"
     style="width: 400px; border-radius: 4px; border:1px solid #ddd; padding: 10px;">
    <span s s-smart-key="name" class="text-info"></span>, <span s s-smart-key="feel" class="text-info"></span>
</div>
<script type="text/javascript">
    function adaptData(data){
        data.name = "Smart RIA, Smart UI";
        data.feel = data.feel + " , I like it";
        return data;
    }
</script>
<h4>控件源码</h4>
<pre>
&lt;div <span class="text-info">s="resource,datac" s-resource-adapter="adaptData" s-resource-src="json/resource.json"</span> &gt;
    &lt;span <span class="text-info">s s-smart-key="name"</span> class="text-info"&gt;&lt;/span&gt;,
    &lt;span <span class="text-info">s s-smart-key="feel"</span> class="text-info"&gt;&lt;/span&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
    function adaptData(data){
        data.name = "Smart RIA, Smart UI";
        data.feel = data.feel + " , I like it";
        return data;
    }
&lt;/script&gt;
</pre>
<h4>resource.json源码</h4>
<pre>
{
    "name": "Smart RIA",
    "feel": "So Easy, So Powerful, So Pretty"
}
</pre>
<hr />
<h3 s-window-role="a" title="级联" id="cascade">5. 级联 <small>当级联的元素发生改变的时候，该控件也即发生改变。</small></h3>
<h5>根据select选项刷新</h5>
<p class="lead"></p>
<select id="cascadeSelect" class="form-control" style="width: 200px;">
    <option value="resource.json">resource.json</option>
    <option value="resource-ui.json">resource-ui.json</option>
</select>
<br />
<div s="resource,datac" s-resource-src="json/{val}" s-resource-cascade="S.N('#cascadeSelect')"
     style="width: 400px; border-radius: 4px; border:1px solid #ddd; padding: 10px;">
    <span s s-smart-key="name" class="text-info"></span>, <span s s-smart-key="feel" class="text-info"></span>
</div>
<h4>控件源码</h4>
<pre>
&lt;select id="cascadeSelect" class="form-control" style="width: 200px;"&gt;
    &lt;option value="resource.json"&gt;resource.json&lt;/option&gt;
    &lt;option value="resource-ui.json"&gt;resource-ui.json&lt;/option&gt;
&lt;/select>
&lt;div <span class="text-info">s="resource,datac" s-resource-src="<span class="text-warning">json/{val}</span>" s-resource-cascade="S.N('#cascadeSelect')"</span> &gt;
    &lt;span <span class="text-info">s s-smart-key="name"</span> class="text-info"&gt;&lt;/span&gt;,
    &lt;span <span class="text-info">s s-smart-key="feel"</span> class="text-info"&gt;&lt;/span&gt;
&lt;/div&gt;
</pre>
<p class="lead">配置级联的时候，可以在s-resource-src配置中设置占位符 <code>{val}</code>，请求资源的时候，该占位符会被替换成级联元素的值。</p>
<p class="lead">也可以配置 <code>s-resource-cascade-key</code> 作为request参数的key去请求资源，该key参数的值是元素的值。</p>
    <h4>resource.json源码</h4>
<pre>
{
    "name": "Smart RIA",
    "feel": "So Easy, So Powerful, So Pretty"
}
</pre>
    <h4>resource-ui.json源码</h4>
<pre>
{
    "name": "Smart UI",
    "feel": "So Fast, So Comfortable"
}
</pre>
<hr />
<h3 s-window-role="a" title="与其他控件组合使用" id="zuhe">6. 与其他控件组合使用</h3>
<p class="lead">组合使用的时候，resource控件可以嵌套其他控件，也可以其他控件与resource同时定义到一个元素上面。</p>
<h4>a. 与模板控件（tpl）组合使用，同时定义一个元素，示例如下：</h4>
<div s="resource,tpl" s-resource-src="json/resource-ary.json" style="width: 400px; border-radius: 4px; border:1px solid #ddd; padding: 10px;">
    {%for(var i=0; i lt this.length; i++){%}
    <span class="text-info">{%=this[i]%}</span>
    {%}%}
</div>
<h5>控件源码</h5>
<pre>
&lt;div <span class="text-info">s="resource,tpl" s-resource-src="json/resource-ary.json"</span> style="width: 400px; border-radius: 4px; border:1px solid #ddd; padding: 10px;"&gt;
    {% for(var i=0; i lt this.length; i++){ %}
         &lt;span class="text-info"&gt;{%=this[i]%}&lt;/span&gt;
    {% } %}
&lt;/div&gt;
</pre>
<h5>resource-ary.json源码</h5>
<pre>
[
    "hello ",
    "Smart RIA,",
    "So easy,",
    "So powerful,",
    "So pretty"
]
</pre>
<h4>b. 自动填充表单</h4>
<form s="resource,nda,datac" s-resource-src="json/resource-form.json" class="form-horizontal" style="width: 500px; border-radius: 4px; border: 1px solid #ddd; padding:20px;">
    <div class="form-group">
        <label class="col-sm-2 control-label" >Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" >Country</label>
        <div class="col-sm-10">
            <select name="country" class="form-control">
                <option value="">None</option>
                <option value="china">china</option>
                <option value="america">america</option>
                <option value="canada">canada</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="checkbox-inline">
                <input type="checkbox" name="feel" value="easy" /> So Easy
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="feel" value="powerful" /> So Powerful
            </label >
            <label class="checkbox-inline">
                <input type="checkbox" name="feel" value="pretty" /> So Pretty
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="like" value="1" /> Yes, i like
            </label>
            <label class="radio-inline">
                <input type="radio" name="like" value="0" /> No, i don't
            </label >
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default">提交</button>
        </div>
    </div>
</form>
<h5>表单源码</h5>
<pre>
&lt;form s="resource,nda,datac" s-resource-src="json/resource-form.json" class="form-horizontal" &gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-sm-2 control-label" &gt;Name&lt;/label&gt;
        &lt;div class="col-sm-10"&gt;
            &lt;input type="text" class="form-control" name="name" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-sm-2 control-label" &gt;Country&lt;/label&gt;
        &lt;div class="col-sm-10"&gt;
            &lt;select name="country" class="form-control"&gt;
                &lt;option value=""&gt;None&lt;/option&gt;
                &lt;option value="china"&gt;china&lt;/option&gt;
                &lt;option value="america"&gt;america&lt;/option&gt;
                &lt;option value="canada"&gt;canada&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="col-sm-offset-2 col-sm-10"&gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;input type="checkbox" name="feel" value="easy" /&gt; So Easy
            &lt;/label&gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;input type="checkbox" name="feel" value="powerful" /&gt; So Powerful
            &lt;/label &gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;input type="checkbox" name="feel" value="pretty" /&gt; So Pretty
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="col-sm-offset-2 col-sm-10"&gt;
            &lt;label class="radio-inline"&gt;
                &lt;input type="radio" name="like" value="1" /&gt; Yes, i like
            &lt;/label&gt;
            &lt;label class="radio-inline"&gt;
                &lt;input type="radio" name="like" value="0" /&gt; No, i don't
            &lt;/label &gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="col-sm-offset-2 col-sm-10"&gt;
            &lt;button type="button" class="btn btn-default"&gt;提交&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
</pre>
<h5>resource-form.json源码</h5>
<pre>
{
    "name": "Smart RIA",
    "country": "china",
    "feel": ["easy","powerful","pretty"],
    "like": "1"
}
</pre>
<br />
<p class="lead">
    上述通过resource资源自动填充了表单，resource返回一个json对象，填充表单的时候则根据表单元素的name值从resource的返回值中取值来进行赋值。
</p>
<p class="lead">
    为什么能够自动填充呢？主要是因为 <code>nda</code> 控件的渲染，<code>nda</code> 主要把表单元素渲染成了空的控件。
    请参考： <code s="click" s-click-action="S.open('url:../nda.html')">nda</code> 控件说明。
</p>
<h3 id="api" s-window-role="a" title="API">7. API</h3>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>API名称</th>
        <th>返回值</th>
        <th>描述</th>
        <th>其他</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <code>refresh()</code>
        </td>
        <td>
            <code>deferred</code> jQuery的<span>$.Deferred</span>实例。
        </td>
        <td>重新为该控件赋值，会请求 <code>s-resource-src</code> 资源，然后调用 <code>data(arg)</code> 方法。返回值是deferred，
            当刷新成功，则调用<span class="text-info">deferred.resolve()</span>;否则调用<span class="text-info">deferred.reject()</span></td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
</div>