.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/***/
/*css3过渡特效*/
/**/
* {
    transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    -moz-transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out; /* Firefox 4 */
    -webkit-transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out; /* Safari 和 Chrome */
    -o-transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out; /* Opera */
    -ms-transition: color .2s ease-out, opacity .2s ease-out, background-color .2s ease-out, border-color .2s ease-out; /* Opera */
}

/*a {*/
    /*text-decoration: none;*/
/*}*/

/*a:hover {*/
    /*text-decoration: none;*/
/*}*/

ul li {
    list-style: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

/**
    contextmenu ui
*/
ul.s-ui-contextmenu, ul.s-ui-contextmenu ul {
    border: 1px solid #bababa;
    box-shadow: 1px 1px 1px #ddd;
    width: 195px;
    font-size: 12px;
    padding: 2px 0;
    background: #fff;
    border-radius: 2px;
    display: none;
}

ul.s-ui-contextmenu a {
    text-decoration: none;
}

ul.s-ui-contextmenu a:hover {
    text-decoration: none;
}

ul.s-ui-contextmenu li {
    position: relative;
    color: #000;
    height: 24px;
    line-height: 24px;
}

ul.s-ui-contextmenu li i {
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1;
}

ul.s-ui-contextmenu li span {
    padding-left: 25px;
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    cursor: default;
}

ul.s-ui-contextmenu li:hover > span {
    background: #4281f4;
    left: -1px;
    bottom: -1px;
    color: #fff;
}

ul.s-ui-contextmenu li:hover > i {
    color: #fff;
}

ul.s-ui-contextmenu li ul {
    display: none;
    position: absolute;
}

ul.s-ui-contextmenu .s-ui-contextmenu-line {
    height: 1px;
    line-height: 1px;
    border-top: 1px solid #e9e9e9;
    margin: 2px 0;
}

ul.s-ui-contextmenu li .caret-r {
    position: absolute;
    right: 5px;
    top: 8px;
}

ul.s-ui-contextmenu li:hover > .caret-r {
    color: #fff;
}

ul.s-ui-contextmenu li.disabled {
    color: #999;
}

ul.s-ui-contextmenu li.disabled:hover > span {
    left: 0px;
    bottom: 0px;
    background: #ddd;
}

.s-ui-upload-progressbar {
    height: 2px;
}

/**
    valid插件所需css
*/

.s-valid-feedback-success, .s-valid-feedback-warning, .s-valid-feedback-error {
    opacity: 0;
}

.has-success .s-valid-feedback-success {
    opacity: 1;
}

.has-error .s-valid-feedback-error {
    opacity: 1;
}

.has-warning .s-valid-feedback-warning {
    opacity: 1;
}

/**
通用
*/
.caret-r {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.text-size-32 {
    font-size: 32px !important;
}

.s-ui-grid-action {
    background: #fff;
    padding: 10px;
}

.s-ui-grid-action h3, .s-ui-grid-action h4, .s-ui-grid-action h5, .s-ui-grid-action h6 {
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #88B7E0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
}

.s-ui-editable {
    border: none;
    background: transparent;
    box-shadow: none;
    border-color: #ccc;
}

.s-ui-editable:hover {
    border-width: 1px;
    border-style: solid;
}

.s-ui-editable:focus, input[type='text'].s-ui-editable.focus {
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background: #fff;
}

.has-error .s-ui-editable,
.has-warning .s-ui-editable,
.has-success .s-ui-editable {
    border-width: 1px;
    border-style: solid;
    background: #fff;
}

.text-explode {
    color: #CCC !important;
    font-weight: normal !important;
    margin: 0px 4px !important;
}


/**
    定义脚本动画
*/
@keyframes spin_frame_fade
{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    50% {-webkit-transform: rotate(360deg); opacity: .3;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-moz-keyframes spin_frame_fade{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    50% {-webkit-transform: rotate(360deg); opacity: .3;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-webkit-keyframes spin_frame_fade{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    50% {-webkit-transform: rotate(360deg); opacity: .3;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-o-keyframes spin_frame_fade{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    50% {-webkit-transform: rotate(360deg); opacity: .3;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-ms-keyframes spin_frame_fade{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    50% {-webkit-transform: rotate(360deg); opacity: .3;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}

.s-ui-spin-fade-ease{
    animation:  spin_frame_fade 2s ease-in-out .1s infinite ;
    -moz-animation:  spin_frame_fade 2s ease-in-out .1s infinite ;
    -webkit-animation:  spin_frame_fade 2s ease-in-out .1s infinite ;
    -o-animation:  spin_frame_fade 2s ease-in-out .1s infinite ;
    -ms-animation:  spin_frame_fade 2s ease-in-out .1s infinite ;
}
.s-ui-spin-fade{
    animation:  spin_frame_fade 2s infinite linear  ;
    -moz-animation:  spin_frame_fade 2s infinite linear  ;
    -webkit-animation:  spin_frame_fade 2s infinite linear  ;
    -o-animation:  spin_frame_fade 2s infinite linear  ;
    -ms-animation:  spin_frame_fade 2s infinite linear  ;
}

@keyframes spin_frame
{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-moz-keyframes spin_frame{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-webkit-keyframes spin_frame{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-o-keyframes spin_frame{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}
@-ms-keyframes spin_frame{
    0% {-webkit-transform: rotate(0deg); opacity: 1;}
    100% {-webkit-transform: rotate(720deg); opacity: 1;}
}

.s-ui-spin-ease{
    animation:  spin_frame 2s ease-in-out infinite ;
    -moz-animation:  spin_frame 2s ease-in-out infinite ;
    -webkit-animation:  spin_frame 2s ease-in-out infinite ;
    -o-animation:  spin_frame 2s ease-in-out infinite ;
    -ms-animation:  spin_frame 2s ease-in-out infinite ;
}
.s-ui-spin{
    animation:  spin_frame 2s infinite linear  ;
    -moz-animation:  spin_frame 2s infinite linear  ;
    -webkit-animation:  spin_frame 2s infinite linear  ;
    -o-animation:  spin_frame 2s infinite linear  ;
    -ms-animation:  spin_frame 2s infinite linear  ;
}

.s-ui-dropdownlist{
    padding-top: 0;
}
.s-ui-dropdownlist .s-ui-dropdownlist-filter{
    border-left: none;
    border-right: none;
    width: 100%;
}

.s-ui-dropdownlist-menu > li > a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.s-ui-dropdownlist-menu>li>a:hover, .s-ui-dropdownlist-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

*[s-loop-role='row']{
    display: none;
}

.s-ui-tpl-hide{
    visibility: hidden;
}

.s-ui-pagination-info{
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.s-ui-affix.affix{
    position: fixed;
    z-index: 100;
}

.s-ui-boxshadow-default{
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}


.s-ui-table-view-header {
    margin-top: 10px;
    margin-bottom: -1px;
    height: 40px;
    background: #F5f6FA;
    line-height: 38px;
    border: 1px solid #e1e6eb;
    position: relative;
    border-left: 4px solid #6d7781;
}
.s-ui-table-view-header .s-ui-table-view-title {
    font-size: 14px;
    color: #333333;
    display: inline-block;
    margin-left: 16px;
}

.s-ui-table-default-view td {
    padding: 11px 20px;
    border: 1px solid #eeeeee;
}

.s-ui-notice{
    position: fixed;
    top: 0;
    border-radius: 0px 0px 4px 4px;
    /*border: 1px solid rgba(0,0,0,.4);*/
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    width: 500px;
    padding: 10px;
}
.s-ui-notice .close{
   float: right;
}
.s-ui-notice .s-ui-notice-msg{
    margin-right: 20px;
}