.topbar{
    position: relative;
    z-index: 200;
    clear: both;
    height: 36px;
    background: #333;
    -font-size: 12px;
    box-sizing: content-box;
    width: 100%;
}
.topbar a:hover{text-decoration: none;}
.topbar .logo{
    float: left;
    padding: 0;
    overflow: hidden;
    border-right: 1px solid #464444;
}
.topbar .logo .logo-text{
    display: block;
    float: left;
    padding: 0 7px;
    height: 36px;
    color: #FFF;
    vertical-align: middle;
    line-height: 0;
    text-align: center;
    border-width: 0 0 0 1px;
    border-color: #000 #000 #000 #2B2B2B;
    border-style: solid;
    background: #333;
}
.topbar .logo .logo-text em{
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
    font-style: normal;
    cursor: pointer;
}
.topbar .topbar-nav{
    float: left;
    padding-left: 0px;
    border-width: 0 0 0 1px;
    border-color: #000 #000 #000 #2B2B2B;
    border-style: solid;
    background: #333;
}
.topbar .topbar-nav .topbar-nav-menu{
    display: block;
    float: left;
    position: relative;
    z-index: 10;
}
.topbar .topbar-nav-menu a:hover{
    text-decoration: none;
}
.topbar .topbar-nav-menu:hover{
    opacity: 0.8;
}
.topbar .topbar-nav-menu.open:hover{
    opacity: 1;
}
.topbar .topbar-nav-menu > a{
    position: relative;
    display: block;
    float: left;
    height: 36px;
    -font-size: 12px;
    color: #FFF;
    overflow: hidden;
    border-right: 1px solid #464444;
    cursor: pointer;
    padding: 0 15px;
    line-height: 36px;
}

.topbar .topbar-nav-menu.dropdown > a{
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 36px;
    padding: 0px 14px 0px 20px;
    text-align: center;
    -font-size: 12px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none !important;
}

.topbar .topbar-nav-menu.dropdown .dropdown-menu{
    width: 582px;
    margin: 0;
    border: 1px solid #C0BBB5;
    border-top: none;
    background: #FFF;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 0;
}
.topbar .topbar-nav-menu.dropdown .dropdown-menu > div{
    border-top:1px solid #f2f2f2;
}
.topbar .topbar-nav-menu.dropdown .dropdown-menu > div:first-child{
    border: none;
}
.topbar .topbar-nav-menu.dropdown .dropdown-menu > div > h5{
    padding-left:12px;
    margin: 0;
    padding-top: 10px;
    color: #999;
}

.topbar .topbar-nav-menu.dropdown .dropdown-menu li{
    float: left;

}
.topbar .topbar-nav-menu.dropdown .dropdown-menu li a{
    display: block;
    padding: 5px 15px;
    height: 28px;
    line-height: 18px;
    text-decoration: none;
    color: #333;
}
.topbar .topbar-nav-menu.dropdown .dropdown-menu li a:hover{
    background: #EBEBEB;
}

.topbar .topbar-nav-menu > a em{
    font-style: normal;
    cursor: pointer;
}
.topbar .topbar-nav-menu > a .caret{
    border-top: 4px solid #fff;
    margin-left: 0;
}

.topbar .topbar-nav-menu.open > a{
    padding: 0px 14px 0px 20px;
    border-width: 1px 0px 0 1px;
    border-style: solid;
    border-color: #2A313B;
    background: #FFF;
    color: #000;
    line-height: 36px;
    height: 36px;
}

.topbar a.main-menu-arrow{padding: 0 5px;}
.topbar a.main-menu-arrow.arrow-right{border-left: 1px solid #464444;border-right: 0;}

.topbar .topbar-nav-menu.open > a .caret{
    border-top: 4px solid #000;
}

.topbar .topbar-nav-menu .dropdown-menu ul{
    padding: 10px 5px;
}


.topbar .topbar-nav-menu .dropdown-menu ul:before,
.topbar .topbar-nav-menu .dropdown-menu ul:after {
    content: " ";
    display: table;
}
.topbar .topbar-nav .topbar-nav-menu .dropdown-menu ul:after {
    clear: both;
}

.topbar .tab{
    position: relative;
    display: flex;
    -float: left;
    height: 36px;
    -font-size: 12px;
    color: #FFF;
    overflow: hidden;
    line-height: 36px;
}
.topbar .tab li{
    float: left;
    border-right: 1px solid #464444;
    position: relative;
    height: 36px;
    width: 130px;
}
.topbar .tab li.ui-sortable-placeholder{
    width: 130px;
    height: 36px;
}

.topbar .tab li.active a{
    background: #FFF;
    color: #000;
    opacity: 1;
}
.topbar .tab li a span{ word-break: break-all;word-wrap: break-word;}
.topbar .tab li a{
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    display: inline-block;
    background: #333;
    opacity: 0.7;
    -width: 130px;
    width: 100%;
    text-decoration: none;
}
.topbar .tab li a:hover{
    opacity: 1;
}
.topbar .tab li.closeable a{
    padding-right: 22px;
    padding-left: 8px;
}
.topbar .tab li.closeable > div{
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 6px;
    opacity: .6;
    font-size: 14px;
}
.topbar .tab li.active > div{
    color: #000;
    font-weight: bold;
}

.topbar .tab li.closeable > div:hover{
    opacity: 1;
}

/**
    ajax 活跃提示
*/
.ajax-active-tip{position: absolute; z-index: 100000; padding: 5px 10px;right: 20px; top: 39px; font-size: 12px; min-width: 200px;}

.main-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-window{
    position: absolute;
    top:36px;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-window > .navbar{
    font: 12px/18px "\5FAE\8F6F\96C5\9ED1", Tahoma, "\5B8B\4F53";
    color: #666666;
    word-wrap: break-word;
    height: 56px;
    border: none;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    position: relative;
    box-sizing: content-box;
    margin-bottom: 0px;
    background-color: #fff;
    border-radius: 0 !important;
    display: none;
}
.main-window > .navbar .navbar-title{
    float: left;
    line-height: 56px;
    padding: 0 40px 0 14px;
    font-size: 18px;
    color: #999999;
}

.main-window .window-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.main-window .window-container > div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    padding-top: 25px;
    overflow: auto;
}

.main-window .window-container.navbar-on{
    top: 57px;
}

.text-warning {
    color: #F90 !important;
}
.navbar-nav{padding-left: 10px;}
.navbar-nav li{
    float: left;
    display: inline;
    margin: 0 20px;
    height: 56px;
    font-size: 14px;
    line-height: 56px;
    padding: 0 2px;
    color: #333333;
    cursor: pointer;
}
.navbar-nav li.active{
    height: 56px;
    color: #ff4902;
    border-bottom: 2px solid #ff4902;
}

.main-sidebar{
    z-index: 100;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    right: 45px;
}

.main-sidebar.margin-navbar{
    top:137px;
}

.main-sidebar .nav>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px;
}

.main-sidebar .nav>li>a:hover, .main-sidebar .nav>li>a:focus, .main-sidebar .nav>li>a.active {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
}
.main-window .window-container > div.padding-sidebar{ padding-right:300px;}

.topbar .topbar-right ul.topbar-right-menu > li{float: left;}
.topbar .topbar-right > div{float: left;}

.topbar .dropdown.open .s-ui-topbar-btn .caret {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.topbar .s-ui-topbar-user{
    height: 36px;
    line-height: 36px;
}

.topbar .s-ui-topbar-btn{
    height: 36px;
    display: inline-block;
    background-color: #2a2e31;
    text-decoration: none;
    text-align: center;
    color: #fff;
    line-height: 36px;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border-width: 0 1px 0 1px;
    border-color: #000 #2B2B2B #000 #464444;
    border-style: solid;
}

.topbar .s-ui-topbar-btn {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    padding: 0 15px;
}

.topbar .s-ui-topbar-btn:hover{
    background-color: #585e65;
}